*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #eee;
}

header {
    display: flex;
    height: 8vh;
    border: 1px solid black;
    align-items: center;
    justify-content:space-between;
    padding: 0 1rem;
    background-color: rgba(95, 93, 93, 0.212);
}

button {
    width: 100px;
    height: 30px;
}
button:hover {
    background-color: black;
    color: #fff;
    transition: 0.5s;
}

main{
    flex-grow:1;
    display: flex;
    margin:1rem;
}

footer{
    border: 1px solid black;
    background-color: rgba(95, 93, 93, 0.212);
    text-align: center;
}

section{
    display: flex;
    margin: 1rem;
}

article{
    border: 1px solid black;
    flex: 1;
    margin: 1vw;
}

p{
    margin: 5px 0px 0px 10px;
}

.meio {
    display: flex;
    flex: 2;
    flex-direction: column;
}
